* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: #303030;
}

.categorias{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    width: 100%;
}

.slide {
    overflow: hidden;
    margin-top: 100px;
    height: 200px;
    background-color: aquamarine;
    white-space: nowrap;
}

.container {
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.block {
    display:inline-block;
    background-color: #abc;
    width: 200px;
    height: 180px;
    margin: 10px 5px;
    margin-left: 10px;
    text-align: center;
}